header {
  background-color: #76b39d;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 10vh;
  width: 100vw;
  position: absolute;
  /* z-index: 1000; */
  box-shadow: 0px 2px 5px; 
  /* border: 1px solid black; */
  /* transform: skewY(-4deg);
  transform-origin: top left; */
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.nav-button {
  background-color: #155e63;
  padding: 15px;
  color: white;
  text-align: center;
  text-decoration: none;
  /* height: fit-content; */
  border-radius: 10px;
}

.nav-button:hover {
  background-color: #f9f8eb;
  color: black;
}

.nav-button-active {
  background-color: #f9f8eb;
  color: black;
}